{% load static %}

<!DOCTYPE html>


<html class="html__responsive">

<head>
    <title>{{ data.title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script async src="https://cdn.sstatic.net/Js/third-party/stacks/stacks.min.js?v=4c00f8ce1b14"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=556e4333f24c">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=753a90643fc4">

    <link rel="stylesheet" type="text/css"
        href="https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=12f70c5b46fe">



    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/Channels/channels.css?v=47a5e0f03c81">


    <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css 
    " crossorigin="anonymous">


    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=15473555f232">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=de9fb8b74f61">
</head>
<style>
    .modal-backdrop {
        background-color: #fff;
        opacity: 0.3;
    }
</style>

<body class="home-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <div class="container">



        <div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar ps-relative">
            <div class="left-sidebar--sticky-container js-sticky-leftnav">
                <nav role="navigation">
                    <ol class="nav-links">
                        <li>
                            <a href="/" class="pl8 nav-links--link">
                                <div class="d-flex ai-center">
                                    <div class="flex--item truncate">
                                        Home
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <ol class="nav-links">
                                <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Public</li>

                                <li class="youarehere">
                                    <a id="nav-questions" href="{% url 'qa:questions' %}"
                                        class="pl8 nav-links--link -link__with-icon">
                                        <i class="fa fa-lg fa-question fa-solid mx-2"> </i>
                                        <span class="-link--channel-name">Questions</span>
                                    </a>
                                </li>


                                <li class="">
                                    <a id="nav-tags" class="nav-links--link" href="{% url 'Profile:usersPage' %}">
                                        <div class="d-flex ai-center">

                                            <div class="flex--item truncate"><i class="fa fa-lg fa-tag fa-solid mx-2">
                                                </i>Tags</div>
                                        </div>
                                    </a>
                                </li>


                                <li class="">
                                    <a id="nav-questions" href="{% url 'Profile:usersPage' %}"
                                        class="pl8 nav-links--link -link__with-icon">
                                        <i class="fa fa-lg fa-user fa-solid mx-2"> </i>
                                        <span class="-link--channel-name">Users</span>
                                    </a>
                                </li>



                            </ol>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>

        <div id="content" class="snippet-hidden">
            <div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question">
                <link itemprop="image" href="#">

                <div class="inner-content clearfix">

                    <div id="question-header" class="d-flex sm:fd-column">

                        <h1 itemprop="name" class="fs-headline1 ow-break-word mb8 flex--item fl1">
                            {% if data.is_deleted %}
                            <a href="#" class="question-hyperlink">Post deleted</a>
                            {% else %}
                            <a href="#" class="question-hyperlink">{{data.title}}</a>
                            {% endif%}
                        </h1>

                        <div class="ml12 aside-cta flex--item print:d-none sm:ml0">
                            <a href="{% url 'qa:new_question' %}" class="ws-nowrap s-btn s-btn__primary">Ask
                                Question</a>
                        </div>
                    </div>

                    <div id="mainbar" role="main" aria-label="question and answers">
                        <div class="question {% if data.is_deleted %}deleted-answer{% endif %}"
                            data-questionid="{{data.id}}" data-position-on-page="0" data-score="1" id="question">

                            <div class="postcell post-layout--right">
                                {% if data.is_deleted %}
                                <aside class="s-notice s-notice__info post-notice js-post-notice mb16" role="status">
                                    <div class="d-flex fd-column fw-nowrap">
                                        <div class="d-flex fw-nowrap">
                                            <div class="flex--item mr8">
                                                <svg aria-hidden="true" class="svg-icon iconEyeOff" width="18"
                                                    height="18" viewBox="0 0 18 18">
                                                    <path
                                                        d="m5.02 9.44-2.22 2.2C1.63 10.25 1 9 1 9s3-6 8.06-6c.75 0 1.46.14 2.12.38L9.5 5.03a4.01 4.01 0 00-4.48 4.41Zm2.03 3.05A3.99 3.99 0 0013 9c0-.73-.2-1.41-.54-2l-1.51 1.54a2 2 0 01-2.38 2.42l-1.52 1.53Zm7.11-7.22A14.8 14.8 0 0117 9s-3 6-7.94 6c-1.31 0-2.48-.4-3.5-1l-1.97 2L2 14.41 14.59 2 16 3.41l-1.84 1.86Z">
                                                    </path>
                                                </svg>
                                            </div>
                                            <div class="flex--item wmn0 fl1 lh-lg">
                                                <div class="flex--item fl1 lh-lg">
                                                    <b>This post is hidden</b>. {{date.post_owner}} deleted this
                                                    post <span dir="ltr" title="{{answer.deleted_time}}"><span
                                                            class="relativetime">{{data.deleted_time}}</span></span>.

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                {% else %}
                                <div class="s-prose js-post-body row" itemprop="text">


                                    <div class="votecell post-layout--left col-4">
                                        <div class="js-voting-container d-flex jc-center fd-column ai-stretch gs4 fc-black-200"
                                            data-post-id="{{data.id}}">
                                            <form method="GET" class="likeForm d-inline"
                                                action="{% url 'qa:question_upvote_downvote' data.id %}"
                                                data-pk="{{ data.id }}">
                                                <div id="id_likes{{data.id}}">
                                                    {% if request.user == likepost.upvote_by_q %}
                                                    <button name='submit' type='submit' value="like"><i
                                                            class="fas active fa-caret-up"></i></button>
                                                    {% else %}
                                                    <button name='submit' type='submit' value="like"><i
                                                            class="fas inactive fa-caret-up"></i></button>
                                                    {% endif %}

                                                    <div
                                                        class="flex--item d-flex fd-column ai-center color-black fs-title">

                                                        <div class="showVoteCount">{{ data.calculate_UpVote_DownVote }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>


                                            <form action="{% url 'qa:question_upvote_downvote' data.id %}" method="GET"
                                                class="d-inline dislikeForm" data-pk="{{ data.id }}">
                                                <div id="id_dislikes{{data.id}}">
                                                    {% if request.user == likeDownpost.downvote_by_q %}
                                                    <button name='submit' type='submit' value="dislike"><i
                                                            class="fas voteDownActive fa-caret-down"></i></button>
                                                    {% else %}
                                                    <button name='submit' type='submit' value="dislike"><i
                                                            class="fas voteDownInActive fa-caret-down"></i></button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <p>{{data.body}}</p>
                                    </div>
                                </div>

                                <div class="mt24 mb12">
                                    <div class="post-taglist d-flex gs4 gsy fd-column">
                                        <div class="d-flex ps-relative">
                                            {% for tag in data.tags.all %}
                                            <a class="post-tag" title="show questions tagged &#39;{{tag}}&#39;"
                                                rel="tag">{{tag}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="mb0 ">
                                    <div class="mt16 d-flex gs8 gsy fw-wrap jc-end ai-start pt4 mb16">
                                        <div class="flex--item mr16 fl1 w96">
                                            <div class="js-post-menu pt2" data-post-id="{{data.id}}">
                                                <div class="d-flex gs8 s-anchors s-anchors__muted fw-wrap">
                                                    {% if request.user == data.post_owner %}
                                                    <div class="flex--item">
                                                        <a class="js-suggest-edit-post"
                                                            href="{% url 'qa:edit_question' data.id %}"
                                                            title="Revise and improve this post">Edit</a>
                                                    </div>



                                                    {% endif %}
                                                    {% if request.user == data.post_owner %}
                                                    {% if data.is_deleted %}
                                                    <div class="flex--item">
                                                        <a href="{% url 'qa:undeleteQuestion' data.id %}">Undelete</a>
                                                    </div>
                                                    {% else %}
                                                    <div class="flex--item">
                                                        <a href="{% url 'qa:deleteQuestion' data.id %}"
                                                            onclick="return confirm('You really want to delete this Question - {{data.title}}');">Delete</a>
                                                    </div>
                                                    {% endif %}
                                                    {% endif %}
                                                    <div class="flex--item">
                                                        <button type="button" class="btn btn-default btn-lg"
                                                            id="myBtn">Flag</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="post-signature owner flex--item">
                                            <div class="user-info ">
                                                <div class="user-action-time">asked <span title="2021-12-08 09:31:57Z"
                                                        class="relativetime">{{data.date}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="js-zone-container zone-container-main">
                                <div id="dfp-bmlb"
                                    class="everyonelovesstackoverflow everyoneloves__bot-mid-leaderboard everyoneloves__leaderboard">
                                </div>
                                <div class="js-report-ad-button-container " style="width: 728px"></div>
                            </div>
                            {% if data.is_deleted %}

                            {% else %}
                            {% for answer in answers %}



                            <a name="{{answer.id}}"></a>
                            <div id="answer-{{answer.id}}"
                                class="answer js-answer {% if answer.is_deleted %}deleted-answer{% endif %}"
                                data-answerid="{{answer.id}}">
                                <form method="GET" class="ansLikeForm"
                                    action="{% url 'qa:answer_upvote_downvote' answer.id %}" data-pk="{{ answer.id }}">
                                    <div id="id_Ans_UpVote{{answer.id}}">

                                        <button name='submit' type='submit' value="like"><i
                                                class="fas active fa-sort-up fa-4x"></i></button>




                                        <div class="flex--item d-flex fd-column ai-center color-black fs-title">
                                            <div class="showanswer-VotesDiv">
                                                <div class="showVoteCount-answer hideThis-answer-Div">
                                                    {{answer.countAllTheVotes}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </form>

                                <div class="result-answer-div"></div>

                                <form action="{% url 'qa:answer_upvote_downvote' answer.id  %}" method="GET"
                                    class="ansDislikeForm" data-pk="{{ answer.id }}">
                                    <div id="id_Ans_DownVote{{answer.id}}">
                                        {% if user in answer.a_vote_downs.all %}
                                        <button name='submit' type='submit' value="dislike"><i
                                                class="fas voteDownActive fa-sort-down fa-4x"></i></button>
                                        {% else %}
                                        <button name='submit' type='submit' value="dislike"><i
                                                class="fas voteDownInActive fa-sort-down fa-4x"></i></button>
                                        {% endif %}
                                    </div>
                                </form>

                                <!-- UPVOTE END -->
                                <div class="post-layout">
                                    <div class="answercell post-layout--right">
                                        {% if answer.is_deleted %}
                                        <aside class="s-notice s-notice__info post-notice js-post-notice mb16"
                                            role="status">
                                            <div class="d-flex fd-column fw-nowrap">
                                                <div class="d-flex fw-nowrap">
                                                    <div class="flex--item mr8">
                                                        <svg aria-hidden="true" class="svg-icon iconEyeOff" width="18"
                                                            height="18" viewBox="0 0 18 18">
                                                            <path
                                                                d="m5.02 9.44-2.22 2.2C1.63 10.25 1 9 1 9s3-6 8.06-6c.75 0 1.46.14 2.12.38L9.5 5.03a4.01 4.01 0 00-4.48 4.41Zm2.03 3.05A3.99 3.99 0 0013 9c0-.73-.2-1.41-.54-2l-1.51 1.54a2 2 0 01-2.38 2.42l-1.52 1.53Zm7.11-7.22A14.8 14.8 0 0117 9s-3 6-7.94 6c-1.31 0-2.48-.4-3.5-1l-1.97 2L2 14.41 14.59 2 16 3.41l-1.84 1.86Z">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <div class="flex--item wmn0 fl1 lh-lg">
                                                        <div class="flex--item fl1 lh-lg">
                                                            <b>This post is hidden</b>. {{answer.answer_owner}} deleted
                                                            this post <span dir="ltr"
                                                                title="{{answer.deleted_time}}"><span
                                                                    class="relativetime">{{answer.deleted_time}}</span></span>.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>

                                        {% else %}
                                        <div class="s-prose js-post-body" itemprop="text">
                                            <p>{{answer.body}}</p>
                                        </div>
                                        {% endif %}
                                        <div class="mt24">
                                            <div class="d-flex fw-wrap ai-start jc-end gs8 gsy">
                                                <time itemprop="dateCreated" datetime="2021-12-08T09:53:01"></time>
                                                <div class="flex--item mr16" style="flex: 1 1 100px;">
                                                    <div class="js-post-menu pt2" data-post-id="{{answer.id}}">
                                                        <div class="d-flex gs8 s-anchors s-anchors__muted fw-wrap">


                                                            <div class="flex--item">
                                                                <a class="js-suggest-edit-post"
                                                                    href="{% url 'qa:edit_answer' data.id %}"
                                                                    title="Revise and improve this post">Edit</a>
                                                            </div>

                                                            {% if request.user == answer.answer_owner %}
                                                            {% if answer.is_deleted %}
                                                            <div class="flex--item">
                                                                <a
                                                                    href="{% url 'qa:undelete_answer' answer.id %}">Undelete</a>
                                                            </div>
                                                            {% else %}
                                                            <div class="flex--item">
                                                                <a onclick="return confirm('You really want to delete answer - {{answer.body|truncatechars:20}}')"
                                                                    href="{% url 'qa:delete_answer' answer.id %}">Delete</a>
                                                            </div>

                                                            {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="js-menu-popup-container"></div>
                                                    </div>
                                                </div>

                                                <div class="post-signature flex--item fl0">
                                                    <div class="user-info user-hover">
                                                        <div class="user-action-time">
                                                            answered <span title="2021-12-08 09:53:01Z"
                                                                class="relativetime">{{answer.date}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <h2 class="space">Your Answer</h2>

                                <div id="post-editor" class="post-editor js-post-editor">
                                    <form class="form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.body }}
                                        </div>
                                        <div class="cbt d-flex gsx gs4">
                                            <button class="flex--item s-btn s-btn__primary" type="submit">Post Your
                                                Answer</button>
                                        </div>
                                    </form>
                                </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">I am flagging to report this question as...</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="container"></div>
                    <div class="modal-body">
                        <form method="POST" id="flag-form-ajax" action="{% url 'qa:AjaxFlagForm' data.id %}">
                            {% csrf_token %}

                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="actions_Flag_Q" value="SPAM"
                                    id="id_actions_Flag_Q_1" required>
                                <label class="form-check-label" for="id_actions_Flag_Q_1">
                                    <b>Spam</b>
                                    <br>
                                    <h6 class="flag-description">Exists only to promote a product or service, does not
                                        disclose the author's affiliation.</h6>
                                </label>
                            </div>
                            <br>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="actions_Flag_Q"
                                    value="RUDE_OR_ABUSIVE" id="id_actions_Flag_Q_2" required>
                                <label class="form-check-label" for="id_actions_Flag_Q_2">
                                    <b>Rude or Abusive</b>
                                    <h6 class="flag-description">A reasonable person would find this content
                                        inappropriate
                                        for respectful discourse.</h6>
                                </label>
                            </div>
                            <br>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" data-bs-toggle="modal" href="#myModal2"
                                    name="actions_Flag_Q" value="NEEDS_IMPROVEMENT" id="id_actions_Flag_Q_6" required>
                                <label class="form-check-label" for="id_actions_Flag_Q_6">
                                    <b>Needs Improvement</b>
                                    <h6 class="flag-description">This question needs updates from the author in order to
                                        be
                                        answered well or belongs on another Stack Exchange site.</h6>
                                </label>
                            </div>
                            <br>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="actions_Flag_Q"
                                    value="IN_NEED_OF_MODERATOR_INTERVATION" id="id_actions_Flag_Q_4" required>
                                <label class="form-check-label" for="id_actions_Flag_Q_4">In Need of Moderator
                                    Intervation</label>
                            </div>

                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="actions_Flag_Q" value="DUPLICATE"
                                    id="id_actions_Flag_Q_7" required>
                                <label class="form-check-label" for="id_actions_Flag_Q_7">Duplicate</label>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <a href="" data-bs-dismiss="modal" class="btn btn-outline-dark">Close</a>
                        <button type="submit" class="btn btn-primary">Save changes</a></button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">


            $("#myBtn").click(function () {
                $("#myModal").modal({
                    show: true
                });
            });

        </script>
</body>




</html>