{% extends 'Profile/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>


<html class="html__responsive">

<head>
    <title>Campus Connect</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=15473555f232">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=de9fb8b74f61">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body class="home-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <div class="container">
        <div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar ps-relative">
            <div class="left-sidebar--sticky-container js-sticky-leftnav">
                <nav role="navigation">
                    <ol class="nav-links">
                        <li class="youarehere">
                            <a href="/" class="pl8 nav-links--link">
                                <div class="d-flex ai-center">
                                    <div class="flex--item truncate">
                                        Home
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <ol class="nav-links">
                                <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light">Public</li>

                                <li class="">
                                    <a id="nav-questions" href="{% url 'qa:questions' %}"
                                        class="pl8 nav-links--link -link__with-icon">
                                        <i class="fa fa-lg fa-question fa-solid mx-2"> </i>
                                        <span class="-link--channel-name">Questions</span>
                                    </a>
                                </li>


                                <li class="">
                                    <a id="nav-tags" class="nav-links--link">
                                        <div class="d-flex ai-center">
                                            
                                            <div class="flex--item truncate"><i class="fa fa-lg fa-tag fa-solid mx-2"> </i>Tags</div>
                                        </div>
                                    </a>
                                </li>


                                <li class="">
                                    <a id="nav-questions" href="{% url 'Profile:usersPage' %}"
                                        class="pl8 nav-links--link -link__with-icon">
                                        <i class="fa fa-lg fa-user fa-solid mx-2"> </i>
                                        <span class="-link--channel-name">Users</span>
                                    </a>

                                </li>



                            </ol>
                        </li>
                    </ol>
                </nav>
            </div>

        </div>




        <div id="content" class="snippet-hidden">
            <div id="mainbar">
                <div class="d-flex">
                    <h1 class="flex--item fl1 fs-headline1">Top Questions</h1>
                    <div class="ml12 aside-cta flex--item print:d-none">
                        <a href="{% url 'qa:new_question' %}" class="ws-nowrap btn btn-primary">Ask Question</a>
                    </div>
                </div>
                <!-- #5A4AE3 -->
            </div>
            <div id="sidebar">
                <div class="s-sidebarwidget s-sidebarwidget__blue s-anchors s-anchors__grayscale mb16">
                    <ul class="d-block p0 m0">
                        <div
                            class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                            Blog
                        </div>
                        <li class="s-sidebarwidget--item d-flex px16">
                            <div class="flex--item1 fl-shrink0">
                                <svg aria-hidden="true" class="va-text-top svg-icon iconPencilSm" width="14" height="14"
                                    viewBox="0 0 14 14">
                                    <path
                                        d="m11.1 1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0ZM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88Z" />
                                </svg>
                            </div>
                            <div class="flex--item wmn0 ow-break-word">
                                <a href="#"
                                    data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2021/12/23/best-practices-for-writing-code-comments/&quot;,null,null]">
                                    Information regarding branch change at VNIT Nagpur</a>
                            </div>
                        </li>
                        <div
                            class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                            Featured
                        </div>
                        <li class="s-sidebarwidget--item d-flex px16">
                            <div class="flex--item1 fl-shrink0">
                                <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                            </div>
                            <div class="flex--item wmn0 ow-break-word">
                                <a href="#">Details regarding VNIT NIRF ranking </a>
                            </div>
                        </li>
                        <div
                            class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                            Latest
                        </div>
                        <li class="s-sidebarwidget--item d-flex px16">
                            <div class="flex--item1 fl-shrink0">
                                <span class="fc-black-500" title="Vote score (upvotes - downvotes)">18</span>
                            </div>
                            <div class="flex--item wmn0 ow-break-word">
                                <a href="#">When does the VNIT admission process start...</a>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>

</body>

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5A4AE3 !important;
}
</style>

</html>
{% endblock content %}